{% extends "base.html" %}

{% block title %}
{{ article.title }} - {{ SITENAME }}
{% endblock %}

{% block content %}
{% set caller = 'article' %}
	<div class="content">
	  <article>
	    <header>
              <h2 class="title">{{ article.title }}</h2>
		<p class="date">投稿日: <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%Y-%m-%d') }}</time></p>
		<p class="">Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
		<p class="">
		  {% if article.tags %}
		  <p>Tags: 
		    {% for tag in article.tags %}
		    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
		    {% endfor %}
		    {% else %}

		    {% endif %}
		  </p>
		</p>
	    </header>
	    {% include "partial/eyecatch.html"  %}
	    <section>
	      <div class="post-data">{{ article.content }}</div>
	    </section>
	  </article>
	</div>

{% endblock %}
