{% extends "base.html" %}

{% block title %}
カテゴリー: {{ category }} の記事一覧
{% endblock %}

{% block content %}
	<div class="content">

	  <div class="item list-title-container">
            <h2 class="title">カテゴリー: {{ category }}</h2>
	  </div>

	  {% for article in articles %}

	  <div class="item small">
	    {% include "partial/card.html" %}
	  </div>

	  {% endfor %}

	  {% if articles|length == 0 %}
	  <p>記事はまだありません。</p>
	  {% endif %}

	</div>

	{% if articles|length > 20 %}
	<div class="pagenation-container"><p>more...</p></div>
	{% endif %}

	{% endblock %}
