{% extends "base.html" %}

{% block title %}
シーズン一覧
{% endblock %}

{% block content %}

	<div class="content">

	  <div class="item list-title-container">
            <h2 class="title">シーズン一覧</h2>
	  </div>

	  {% for season in seasons %}

	  <div class="item small">
	    <a href="{{ SITEURL }}/season/{{ season|replace(' ', '-') }}.html" class="article-card">
              <div class="eye-catching-image-container">
		<img src="" alt="No image." class="eye-catching-image">
	      </div>
              <h3 class="title">{{ season }} シーズン</h3>
	    </a>
	  </div>

	  {% endfor %}

	  {% if seasons|length == 0 %}
	  <a href="{{ SITEURL}}/">Back to Home.</a>
	  {% endif %}

	</div>

{% endblock %}
