<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ SITEURL }}/favicons/android-icon-192x192.png">
<!-- 
     <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/favicons/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/favicons/favicon-16x16.png">
-->
<link rel="icon" type="image/svg_xml" href="{{ SITEURL }}/favicons/favicon.svg">
<link rel="manifest" href="{{ SITEURL }}/favicons/manifest.json">
