<meta name="description" content="{{ SITESUBTITLE }}}"/>

<!-- スマホで勝手に電話番号などマークアップされないように指定 -->
<meta name="format-detection" content="telephone=no,address=no,email=no,date=no"/>

<!-- optional:モバイルブラウザ用 -->
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f8f4e6"/>
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#dbdbdb"/>
<meta name="color-scheme" content="light dark" />

<!-- optional:スマホでホーム画面に登録してアプリっぽく使われるのを想定した設定 -->
<meta name="application-name" content="{{ SITENAME }}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!-- optional:タブやショートカットアイコンの表示名？ -->
<meta name="apple-mobile-web-app-title" content="{{ SITENAME }}"/>


<!-- optional:検索エンジン向け指示 -->
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:140, max-video-preview:-1">
