<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ SITENAME }}">
<meta property="og:description" content="{{ SITESUBTITLE }}">
<meta property="og:url" content="{{ SITEURL }}">
<meta property="og:site_name" content="{{ SITENAME }}">
<meta property="og:image" content="{{SITEURL}}/static/images/default_thumbnail.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="800"><!-- 630? -->
<meta property="og:image:type" content="image/png"><!-- 画像はPNGで用意してつかぁさい -->


<!-- card:summary_large_image or summary はog:image,og:width,og:heightの設定で代用可能 -->
<!-- card:description はog:descriptionの設定で代用可能 -->
<!-- card:image:src はog:imageの設定で代用可能 -->
<!-- 
     <meta name="twitter:card" content="summary_large_image or summary" />
     <meta name="twitter:description" content="ページの説明" />
     <meta name="twitter:image:src" content="URL" />
-->
