	<div class="navi-container">
	  <div class="logo-container">
	    <a href="{{ SITEURL}}/">
              <img src="/static/images/sitelogo_48x48.webp" alt="ブログロゴ" class="logo-image">
	    </a>
	  </div>
	  <nav class="nav-menu">
	    <!-- ひとまず暫定のnav内容 -->
            <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/seasons.html">Seasons</a></li>
	      <li><a href="/categories.html">Categories</a></li>
	      <li><a href="/tags.html">Tags</a></li>
            </ul>
	  </nav>
	</div>
